<h2>refGenes</h2>
<ul class="genes">
  <li *ngFor="let gene of genes"
  [class.selected]="gene === selectedGene" 
  (click)="onSelect(gene)">
    <span class="badge"> {{gene.mode_name}} </span> 
        {{gene.gene}} | {{gene.chromosome}} | {{gene.strand}} | 
        {{gene.tx_start}} | {{gene.tx_end}} | {{gene.exon_count}} | {{gene.score}}
  </li>
</ul>
<div *ngIf="selectedGene">
    <h2>{{ selectedGene.name | uppercase }} Details</h2>
    <div><span>mode name: </span>{{selectedGene.mode_name}}</div>
  <label>mode name:
    <input [(ngModel)]="selectedGene.mode_name" placeholder="mode_name">
  </label>
</div>